argon2-cffi==20.1.0
bcrypt==3.1.7
certifi==2018.8.24
cffi==1.14.5
Django==1.11
django-bootstrap3==12.1.0
django-braces==1.14.0
Faker==5.0.0
misaka==2.1.1
Pillow==7.2.0
pycparser==2.20
python-dateutil==2.8.1
pytz==2021.1
six==1.15.0
sqlparse==0.4.1
text-unidecode==1.3
wincertstore==0.2
